<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Methodology</title>
  <link rel="icon" href="static\images\favicon.ico">
  
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static\style\lux.min.css">
  <link rel="stylesheet" type="text/css" href="static\style\style.css">

  <link rel="shortcut icon" href="#" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/plots">Plots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/methodology">Methodology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

<h1 align="center">
  MAIN PAGE: TRACKING COVID -19 ACROSS THE US
</h1>
<p>
  Our graphics explore the trend in COVID-19 cases and deaths across the US to see whether cases and deaths are rising, 
  falling or staying level. You can view the data via a heat map.  To see states' total cases and deaths, 
  click the drop down to the right of the screen.  
</p>
<h2>
Number of COVID-19 cases reported per day by state and county levels
</h2>
<ul>
  <li>
      What this graph shows: A total of the number of COVID-19 cases reported to public health. 
  </li>
  <li>
    What to know about this data:
    <ul>
      <li>
          This graph shows that we continue to have cases reported every day.
      </li>
      <li>
          This graph does not track the number of cases reported from one day to the next
      </li>
      <li>
          As long as cases continue to be reported, this graph will always go up.
      </li>
    </ul>
  </li>
</ul>
<h2>
Number of deaths among COVID-19 cases reported per day by state and county levels
</h2>
<ul>
  <li>
      What this graph shows: The number of deaths among people diagnosed with COVID-19 or with COVID-19 listed on their death certificate, recorded by the date a death occurred.  
  </li>
  <li>
  What to know about this data:
    <ul>
      <li>
        Due to standard delays in the process of recording deaths, it may be several days between the day a death occurs and the day the death appears in this graph. This means the number of deaths reported may change on a day-to-day basis (particularly within the past week) as reports of new deaths are received.
      </li>
      <li>
        o   This graph includes deaths among people with COVID-19 - COVID-19 may or may not be listed as the cause of death on the death certificate
      </li>
    </ul>
  </li>
</ul>

  <!-- Popper.js, and jQuery for bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
