<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COVID Data Tracker</title>
  
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />

  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static\style\style.css">
  <link rel="stylesheet" type="text/css" href="static\style\lux.min.css">

  <link rel="shortcut icon" href="#" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/plots">Plots</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1>State Plots</h1>

  <label for="States">State:</label>
  <select id="States">
  </select>

  <label for="Total or Daily">Total or Daily:</label>
  <select id="TotalS" >
      <option value="Daily">Daily</option>
      <option value="Total">Total</option>
  </select>
    
  <label for="Cases or Deaths">Cases or Deaths:</label>
  <select id="ResultS" >
      <option value="Cases">Cases</option>
      <option value="Deaths">Deaths</option>
  </select>

  <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div id="Sgraph-container" class="card-body">
                    <canvas id="Splot"></canvas>
                </div>
            </div>
        </div>
      </div>     
  </div>

  <h1>County Plots</h1>

  <label for="Counties">Counties:</label>

  <select id="Counties" >
  </select>

  <label for="Total or Daily">Total or Daily:</label>
  <select id="TotalC" >
      <option value="Daily">Daily</option>
      <option value="Total">Total</option>
  </select>
    
  <label for="Cases or Deaths">Cases or Deaths:</label>
  <select id="ResultC" >
      <option value="Cases">Cases</option>
      <option value="Deaths">Deaths</option>
  </select>

  <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div id="Cgraph-container" class="card-body">
                    <canvas id="Cplot"></canvas>
                </div>
            </div>
        </div>
      </div>     
  </div>
</body>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    var orders = JSON.parse('{{ orders | safe}}');
    var state_cases = JSON.parse('{{ state_cases | safe}}');
    var state_deaths = JSON.parse('{{ state_deaths | safe}}');
    var state_cases_daily = JSON.parse('{{ state_cases_daily | safe}}');
    var state_deaths_daily = JSON.parse('{{ state_deaths_daily | safe}}');
    var county_cases = JSON.parse('{{ county_cases | safe}}');
    var county_deaths = JSON.parse('{{ county_deaths | safe}}');
    var county_cases_daily = JSON.parse('{{ county_cases_daily | safe}}');
    var county_deaths_daily = JSON.parse('{{ county_deaths_daily | safe}}');
  </script>
  <script src="./static/js/plot.js"></script>

</html>
